.label {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 75px;
}

#nfacts {
  text-align: center;
  font-weight: bold;
}

ul {
  text-align: left;
}

li {
  text-align: left;
}

#allergy {
  text-align: left;
  font-size: 10px;
  font-weight: bold;
}

#rows {
  align-content: center;
}

.col {
  align-content: center;
}

.row {
  align-content: center;
}

.jumbotron {
  background-image: url("assets/images/nut.jpg");
  color: white;
  font-weight: bolder;
}

label {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.card {
  background-color: white;
  color: black;
}

.form-group {
  background-color: black;
  border: 2px solid black;
  border-radius: 30px;
  margin: 5%;
  align-content: center;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

#submit1 {
  background: #4caf50;
  font-weight: bold;
  color: white;
}
