body {
  background-image: url("../images/gymBackground5HD.jpg");
  color: white;
  margin: auto;
  height: 100%;
}

#homePage {
  height: 100%;
  width: 75%;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 15%;
  margin-left: 10%;
}



.jumbotron {
  color: black;
  /* min-height: 15%; */
  padding: 15px;
  text-align: center;
}

a {
  color: white;
}

.nutrition {
  color: black;
}

#display {
  color: white;
  text-align: center;
  font-size: 30px;
}
#laps {
  color: white;
  text-align: center;
}
#sidebar {
  border: 1px solid;
  background-color: black;
}
#workout {
  background-color: black;
  color: white;
  text-align: center;
}

.mainContainer {
  background-color: black;
  /* width: 1200px; */
  border: 2px solid black;
  border-radius: 30px;
  align-content: center;
  margin-top: 10%;  
}
.workHead {
  text-align: center;
}
.nutritionSearch {
  border: 1px solid;
}
.form-group {
  background-color: black;
  text-align: center;
}

.workoutButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: black;
  border: none;
  border-radius: 15px;
}

.workoutButton:hover {
  background-color: green;
  text-decoration: none;
}

.homeButton {
    display: inline-block;
    padding: 18px 50px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 15px;
  }
  
  .homeButton:hover {
    background-color: lightgrey;
    text-decoration: none;
  }


#new {
    background-color: black;
    color: white;
}

#hrWorkout {
    background-color: white;
    text-align: center;
}

#weightTable {
    color: black;   
}

.card-header {
    color: black;
}

#submitLogin {
    margin-left: 44%;
}

nav#navbar {
  margin-top: -25px;
}
