body {
    background-image: url("../images/gymBackground.jpg");
    color: white;
}

#homePage {
    background-color: black;
    color: white;
    margin-top: 15%;
}

#homePageTitle {
    margin: auto;
}

.jumbotron {
    color: black;
    min-height: 15%;
}

a {
    color: white;
}

.nutrition {
    color: black;
}